.page-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #0B163F;
  height: 100vh;
  width: 100vw;
}

.login-form-box {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 1rem!important;
  background-color: #ffffff;
}

@media screen and (min-width: 400px) {
  .login-form-box {
    width: 90%; /* Reduzindo a largura para 90% da tela em telas maiores */
    max-width: 600px; /* Adicionando uma largura máxima para evitar que o formulário fique muito largo */
  }
}
@media screen and (min-width: 414px) {
  .login-form-box {
    width: 100%; /* Em 414px ou mais, o formulário ocupa a largura total da tela */
  }
  .page-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #0B163F;
    height: 100vh;
    width: 100vw;
  }
  
}
.login-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 0.6rem!important;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  width: 80%;
  max-width: 300px; /* Limitando a largura do botão em telas maiores */
  border-radius: 1rem;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

img {
  max-width: 100%; /* Garantindo que a imagem não ultrapasse o tamanho da tela */
  height: auto; /* Mantendo a proporção da imagem */
  margin-bottom: 1vh;
}

.login-form p {
  margin-top: 10px;
  font-size: 14px;
}

.register-now span {
  color: #0056b3;
  cursor: pointer;
}

.register-now span:hover {
  text-decoration: underline;
}
