.post-page {
    padding: 15px;
    margin-top: 20px;
  }
  
  .discussions-title {
    margin-top: 50px;
  }
  
  
  .author-image {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    overflow: hidden;
  }
  .pagination-numbers {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
  .pagination-numbers li {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: max-content;
    height: max-content;
    min-width: 30px; /* Tamanho mínimo para manter a consistência */
    margin: 2px; /* Espaçamento entre os botões de página */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pagination-numbers li.active {
    background-color: #007bff;
    color: #fff;
  }
  
  
  
  .align-left {
    display: flex;
    align-items: center;
  }
  .title-post{
    margin-left: 15px!important;
  }
  .category-selector {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .category-selector label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .category-selector select {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .posts-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
    max-width: 98%;
  }
  
  .post {
    background-color: #f8f9fa;
    border: 2px solid #dee2e6;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    max-width: 248px;
  }
  
  @media screen and (min-width: 375px) {
    .post {
      max-width: 310px;
    }
  }
  
  @media screen and (min-width: 600px) {
    .post {
      max-width: 600px;
    }
  }
  
  .post-title {
    color: #071C4D;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .post-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.5;
  }
  
  /* Post comments */
  
  .comments-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .comments {
    display: flex;
    background-color: #f1f1f1;
    padding: 10px;
    max-width: 90%;
    margin: auto;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .comment-user {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .comment-content {
    word-break: break-word;
    margin-bottom: 10px;
  }
  
  .no-comments {
    font-style: italic;
  }
  
  .add-comment {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .comment-form {
    margin-bottom: 20px;
  }
  
  .comment-textarea {
    height: 100px;
    resize: none;
    padding: 5px;
    margin-bottom: 10px;
    width: 80%;
  }
  
  .comment-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .comment-button:hover {
    background-color: #45a049;
  }
  
  
  
  .comment-edited-text {
    font-size: 12px;
    color: gray;
    margin-left: 5px;
  }
  
  .comment-data-horario {
    color: gray;
    font-size: 0.8em;
  }
  
  .comment-buttons {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    align-self: flex-end;
  }
  
  .form-input-edit-comment {
    width: 93%;
  }
  
  .button-edit-comment:hover {
    cursor: pointer;
    color: green;
  }
  
  .button-delete-comment:hover {
    cursor: pointer;
    color: red;
  }
  
  .input-edit-comment {
    width: 100%;
    height: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    vertical-align: top;
    resize: none;
  }
  
  .edit-button-send {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-button-send:hover {
    background-color: #0056b3;
  }
  
  .post {
    transition: all 0.3s ease;
  }
  
  .post:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .edit-post-button:hover {
    color: green;
  }
  
  .delete-post-button:hover {
    color: red;
  }