/* Register Page */
.register-page {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: #0B163F;

}
.lead {
  font-weight: 400;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.register-form-box {
  margin: 20px auto;
  width: 90%;
  padding: 20px;
  transition: max-height 0.3s ease-in-out; /* Adicione uma transição suave para animação */
  background-color: #ffffff;
  border-radius: 1rem!important;
}





.register-form {
  display: flex;
  flex-direction: column;
}

.register-name,
.register-email,
.register-password,
.register-passwordConfirmation {
  margin-bottom: 15px;
}

.register-name label,
.register-email label,
.register-password label,
.register-passwordConfirmation label {
  margin-bottom: 5px;
  font-weight: bold;
}

.register-name input,
.register-email input,
.register-password input,
.register-passwordConfirmation input {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  margin-top: 5vh;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.register-error {
  color: #ff0000;
  margin-top: 10px;
}

.login-now span {
  color: #0056b3;
  cursor: pointer;
}

.login-now span:hover {
  text-decoration: underline;
}
