.header-menu {
  display: flex;
  top: 0;
  justify-content: space-between;
  /* padding: 10px; */
  /* position: fixed; */
  width: 100%;
  z-index: 9999;
  height: 60px;
}

.header-menu-showing {
  height: 200px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.with-shadow {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.header-menu span {
  align-self: center;
  font-size: 20px;
}

.header-menu ul {
  display: flex;
}

.header-logo {
  margin-top: 8px;
  width: 120px;
  height: 40px;
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  .header-logo {
    width: 190px;
    height: 60px;
    margin-top: 6px;
  }

  .header-menu {
    height: 80px;
  }
}

.button-logout {
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.button-logout:hover {
  background-color: #d32f2f;
}

.button-logout:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(244, 67, 54, 0.5);
}

.button-logout:active {
  background-color: #b71c1c;
}


/*  */

.nav-link a {
  color: #000;
  text-decoration: none;
}
.nav-link-content {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px; /* Ajuste a margem conforme desejado */
}


.nav-link-2 {
  list-style-type: none;
  font-size: 1.0em;
  margin-right: 20px;
  cursor: pointer;
}

.nav-link-2:hover {
  transform: scale(1.1);
}

.button-logout:hover {
  background-color: #cc0000;
}


.header-menu-list.showing {
  display: flex;
  align-self: center;
  flex-direction: column;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  animation: slideInDown 0.3s ease-in-out;
  padding-top: 0;
  padding-left: 0;
  align-items: center;
}

.div-header-menu-list {
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.1);
}

.big-screen-nav-links {
  display: flex;
  align-items: center;
}

.header-menu-list.showing .nav-link {
  padding-right: 0;
  margin-right: 0;
}

.button-logout {
  width: 100%;
  margin-right: 20px;
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-menu-list:not(.showing) {
  display: none;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  transform: translateX(-250px);
  transition: transform 0.3s ease-in-out;
}

.header-menu {
  display: flex;
  flex-direction: column;
}

.logo-and-icons {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  width: 98%;
  height: 50px;
  display: block;
}

.nav-link {
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-link:hover {
  background-color: #c4c4c4;
}

.button-logout {
  width: 80%;
}

.nav-link:hover {
  cursor: pointer;
}

.toggle-menu {
  cursor: pointer;
  margin-right: 5px;
}

.toggle-close-menu {
  cursor: pointer;
  margin-right: 5px;
}

.logout-and-menu {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.sign-out-icon {
  width: 40px;
  margin-right: 10px;
  color: #F44336
}

.sign-out-icon:hover {
  cursor: pointer;
}